{% extends "index.html" %}

{% block content %}

               <div id="menu">  
               
                    <ul>
                         <li class="active"><a href="/users/home" accesskey="1" title="">Homepage</a></li>

                         <li><a href="/users/login/" class="button-style">Login</a></li>
                         <li><a href="/users/add" class="button-style">Sign Up</a></li>
                         <li><a href="/about" class="button-style">About Us</a></li>
                         <li><a href="/contact" class="button-style">Contact Us</a></li>
                         
                    </ul>
               </div>

<div>
<p>
Hello!
</p>
<p>
It's nice of you to take the time to get to know us better. Here are some things about us that we thought you might like to know.
</p>
<p>
online shopping went live in 2014 with the objective of making books easily available to anyone who had internet access. Today, we're present across various categories including  mobiles, cameras, computers – and still counting!
</p>
<p>
Be it our path-breaking services like Cash on Delivery, a 30-day replacement policy, free shipping - and of course the great prices that we offer, everything we do revolves around our obsession with providing our customers a memorable online shopping experience.
</p>
<p>
So it's no surprise that we're a favourite online shopping destination.

 </p>

</div>

{% endblock %}