{% extends "index.html" %}

{% block content %}

               <div id="menu">  
               
                    <ul>
                         <li class="active"><a href="/users/home" accesskey="1" title="">Homepage</a></li>

                         <li><a href="/users/login/" class="button-style">Login</a></li>
                         <li><a href="/users/add" class="button-style">Sign Up</a></li>
                         <li><a href="/about" class="button-style">About Us</a></li>
                         <li><a href="/contact" class="button-style">Contact Us</a></li>
                         
                    </ul>
               </div>


               

<h3>Cash on Delivery</h3>
<p>
You can opt for the Cash on Delivery payment method instead. With Cash on Delivery you can pay in cash at the time of actual delivery of the product at your doorstep, without requiring you to make any advance payment online.

</p>
<h3>Delivery charges</h3>
<p>
Delivery charge varies with each Seller.
</p>
<p>
Sellers incur relatively higher shipping costs on low value items. In such cases, charging a nominal delivery charge helps them offset logistics costs. The delivery charge may be waived off by some Sellers, if you shop with them for a minimum predefined value.
</p>
<p>
For example, seller WS Retail charges Rs 40 for delivery per item if the order value is less than Rs 500. While, orders of Rs 500 or above are delivered free. Please check with individual Sellers to understand their delivery charges..
</p>


<h3>Delivery date not correspond to the delivery timeline of X-Y business days?</h3>
<p>
It is possible that the Seller or our courier partners have a holiday between the day your placed your order and the date of delivery, which is based on the timelines shown on the product page. In this case, we add a day to the estimated date. Some courier partners and Sellers do not work on Sundays and this is factored in to the delivery dates.
</p>


<h3>Out of Stock</h3>
<p>Currently, the item is not available for sale. Use the 'Notify Me' feature to know once it is available for purchase.</p>




{% endblock %}