{% extends "index.html" %}

{% block content %}

               <div id="menu">  
               
                    <ul>
                         <li class="active"><a href="/users/home" accesskey="1" title="">Homepage</a></li>

                         <li><a href="/users/login/" class="button-style">Login</a></li>
                         <li><a href="/users/add" class="button-style">Sign Up</a></li>
                         <li><a href="/about" class="button-style">About Us</a></li>
                         <li><a href="/contact" class="button-style">Contact Us</a></li>
                         
                    </ul>
               </div>             

<p>
<h3>Mail us:</h3>
</p>
<p>
onlineshopping Internet Private Limited,
pathanapuram - 689695,
Kerala, India.
</p>
<p>
Email: onlineshopping@gmail.com
</p>

{% endblock %}