{% extends "index.html" %}

{% block content %}


               <div id="menu">  
               
                    <ul>
                         <li class="active"><a href="/users/home" accesskey="1" title="">Homepage</a></li>
                         <li><a href="/users/account/" class="button-style">Profile</a></li>
                         <li><a href="/about" class="button-style">About Us</a></li>
                         <li><a href="/contact" class="button-style">Contact Us</a></li>
                         <li><a href="/users/logout/" class="button-style">LogOut</a></li>
                         
                    </ul>
               </div>
   
    <h1>Delete Catagories</h1>
    <form action="{% url 'delcatagory' %}" method="POST" >{% csrf_token %}
    <table>
    <tr><td>Catagory Name:</td>
    	<td>
    		<select name="dropdown1">
    			{% for catagoryname in catagoryname %} 
    			     <option value="{{ catagoryname.cname }}">{{ catagoryname.cname }}</option>
    			{% endfor %}
    		</select>
    	</td>
    <td><input type="submit" value="Delete Catagory" /></td></tr>
    </table>



{% endblock %}

    